html {
    height: 100%;
    width: 100%;
    font-family: OpenSans;
  }
  
  #logo {
    width: 270px;
    margin-right: 90px;
    margin-left: 15px;
  
  }
  
  nav {
    display: flex;
    flex-flow: row ;
    align-content: space-evenly;
    align-content: center;
    align-items: center;
  }
  
  #nav_label {
    display: flex;
    flex-flow: row ;
    align-content: space-evenly;
    align-content: space-around;
    align-items: space-between;
  }
  
  label {
    margin-left: 20px;
    align-self: flex-end;
    
  }